* {
  margin: 0;
  padding: 0;
}
.navBar {
  display: flex;
  width: 1440px;
  height: 75px;
  flex-shrink: 0;
  background-color: #183d3d;
}

.name {
  width: 198px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: "Caudex";
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 10px;
}

.home {
  width: 198px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: "Caudex";
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}

.experience {
  width: 198px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Caudex;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}

.projects {
  width: 198px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Caudex;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}

.readingList {
  width: 230px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Caudex;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}

.contact {
  width: 198px;
  height: 50px;
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: Caudex;
  font-size: 35px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 10px;
}
